<h2>Movies</h2>

<table class="display">
  <thead>
    <tr>
      <th id="title"><a href="/movies?order=title">Title</a></th>
      <th><a href="/movies?order=year">Year</th>
      <th><a href="/movies?order=rating">Rating</th>
      <th><a href="/movies?order=genre">Genre</th>
      <th><a href="/movies?order=studio">Studio</th>
    </tr>
  </thead>
  <tbody>
    <% @all_movies.each do |movie| %>
    <tr>
        <td><a href="/movies/<%= movie["movie_id"] %>"><%= movie["title"] %></a></td>
        <td><%= movie["year"] %></td>
        <td><%= movie["rating"] %></td>
        <td><%= movie["genre"] %></td>
        <td><%= movie["studio"] %></td>
    </tr>
    <%end%>
  </tbody>
</table>

<br>

<% if @page_number != 1 %>
  <a href="/movies?order=<%= @order %>&page=<%= @page_number - 1 %>">Back</a>
<% end %>
<% if @page_number != @last_page %>
<a href="/movies?order=<%= @order %>&page=<%= @page_number + 1 %>">Next</a>
<% end %>

<br>
<br>

<a href="/actors">Go to All Actors</a>
